.image {
  flex-basis: 32%;
  margin: 10px;
}

.image img {
  border: 3px solid white;
  box-shadow: 5px 10px 18px black;
  cursor: pointer;
  transition-duration: 300ms;
}

.image img:hover {
  transform: rotateZ(10deg);
  box-shadow: 15px 10px 20px black;
}

@media only screen and (max-width: 600px) {
  .image {
    flex-basis: 45%;
  }
}